<ul class="menu">
    <li>
        <a class="padding-bottom-0 padding-left-0" href="#">Login</a>
    </li>
    <li>
        <a class="padding-bottom-0" href="#"> 
            <i class="fi-shopping-cart"></i> Cart
        </a>
    </li>
</ul>

<div class="show-for-large">
    <hr>
    <h2 class="h6 margin-bottom-0">
        <strong>Tatoos maked for reals artists.</strong>
        <small>Sended with love from Santo Domingo.</small>
    </h2>
</div>

<div class="show-for-medium">
    <hr>
    <div class="input-group">
        <input class="input-group-field small search" type="text" placeholder="Buscar...">
        <div class="input-group-button">
            <input type="submit" class="button secondary small text-uppercase" value="Buscar">
        </div>
    </div> 
</div>